<a href="https://colab.research.google.com/github/atroitskaia/Factory-farming/blob/main/Factory_farming_climate_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/Emissions_livestock_E_All_Data/Emissions_livestock_E_All_Data.csv')
df.info()

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.info

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/Climate_change_Emissions_indicators_E_All_Data/Climate_change_Emissions_indicators_E_All_Data.csv')

In [ ]:
df

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Source Code,Source,...,Y2021N,Y2022,Y2022F,Y2022N,Y2030,Y2030F,Y2030N,Y2050,Y2050F,Y2050N
0,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,3050,FAO TIER 1,...,NaN,1.571646e+06,I,NaN,1.359333e+06,F,NaN,1.359333e+06,F,NaN
1,2,'004,Afghanistan,1107,'02132,Asses,72431,Livestock total (Emissions N2O),3050,FAO TIER 1,...,NaN,7.816000e-01,E,NaN,6.761000e-01,E,NaN,6.761000e-01,E,NaN
2,2,'004,Afghanistan,1107,'02132,Asses,72441,Livestock total (Emissions CH4),3050,FAO TIER 1,...,NaN,1.665940e+01,E,NaN,1.440890e+01,E,NaN,1.440890e+01,E,NaN
3,2,'004,Afghanistan,1107,'02132,Asses,72254,Enteric fermentation (Emissions CH4),3050,FAO TIER 1,...,NaN,1.571650e+01,E,NaN,1.359330e+01,F,NaN,1.359330e+01,F,NaN
4,2,'004,Afghanistan,1107,'02132,Asses,72386,"Manure management (manure treated, N content)",3050,FAO TIER 1,...,NaN,1.715216e+06,E,NaN,1.483508e+06,F,NaN,1.483508e+06,F,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119241,5873,'198,OECD,1048,'F1048,Swine,72301,Emissions (N2O) (Manure applied),3050,FAO TIER 1,...,NaN,4.173460e+01,E,NaN,4.377660e+01,F,NaN,4.397440e+01,F,NaN
119242,5873,'198,OECD,1048,'F1048,Swine,72341,Manure applied to soils (Direct emissions N2O),3050,FAO TIER 1,...,NaN,2.928740e+01,E,NaN,3.072040e+01,F,NaN,3.085920e+01,F,NaN
119243,5873,'198,OECD,1048,'F1048,Swine,723612,Indirect emissions (N2O that leaches) (Manure ...,3050,FAO TIER 1,...,NaN,6.589700e+00,E,NaN,6.912100e+00,F,NaN,6.943300e+00,F,NaN
119244,5873,'198,OECD,1048,'F1048,Swine,723611,Indirect emissions (N2O that volatilises) (Man...,3050,FAO TIER 1,...,NaN,5.857500e+00,E,NaN,6.144100e+00,F,NaN,6.171800e+00,F,NaN
119245,5873,'198,OECD,1048,'F1048,Swine,72361,Manure applied to soils (Indirect emissions N2O),3050,FAO TIER 1,...,NaN,1.244720e+01,E,NaN,1.305620e+01,F,NaN,1.311520e+01,F,NaN

In [ ]:
df_2 = pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data.csv', )

<ipython-input-6-3688373f6aaa>:1: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191,194,197) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data.csv', )

In [ ]:
df_2

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2020N,Y2021,Y2021F,Y2021N,Y2022,Y2022F,Y2022N,Y2023,Y2023F,Y2023N
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,0.0,...,NaN,36862.0,A,NaN,36462.00,A,NaN,37000.00,A,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5412,Yield,kg/ha,NaN,...,NaN,1743.2,A,NaN,1742.00,A,NaN,1810.80,A,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,t,0.0,...,NaN,64256.0,A,NaN,63515.00,A,NaN,67000.00,A,NaN
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,...,NaN,25357.0,E,NaN,25403.00,E,NaN,25439.00,E,NaN
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5412,Yield,kg/ha,NaN,...,NaN,705.0,E,NaN,704.00,E,NaN,704.00,E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78167,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5412,Yield,kg/ha,614.5,...,NaN,683.0,E,NaN,676.60,E,NaN,682.70,E,NaN
78168,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5510,Production,t,255724.0,...,NaN,2667688.9,E,NaN,2854981.94,E,NaN,2812938.79,E,NaN
78169,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5312,Area harvested,ha,1881425.0,...,NaN,7753692.0,E,NaN,7754677.00,E,NaN,7795058.00,E,NaN
78170,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5412,Yield,kg/ha,6617.1,...,NaN,12136.8,E,NaN,12442.00,E,NaN,12396.10,E,NaN
78171,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5510,Production,t,12449526.0,...,NaN,94105040.2,E,NaN,96483623.71,E,NaN,96628287.75,E,NaN

In [ ]:
df_3 = pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/Environment_Temperature_change_E_All_Data/Environment_Temperature_change_E_All_Data.csv')

In [ ]:
df_3

,Area Code,Area Code (M49),Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1961F,...,Y2020,Y2020F,Y2021,Y2021F,Y2022,Y2022F,Y2023,Y2023F,Y2024,Y2024F
0,2,'004,Afghanistan,7001,January,7271,Temperature change,°c,0.792,E,...,-0.622,E,0.740,E,2.297,E,-2.418,E,4.396,E
1,2,'004,Afghanistan,7001,January,6078,Standard Deviation,°c,1.964,E,...,1.964,E,1.964,E,1.964,E,1.964,E,1.964,E
2,2,'004,Afghanistan,7002,February,7271,Temperature change,°c,-1.750,E,...,2.565,E,4.235,E,2.357,E,3.478,E,1.161,E
3,2,'004,Afghanistan,7002,February,6078,Standard Deviation,°c,2.606,E,...,2.606,E,2.606,E,2.606,E,2.606,E,2.606,E
4,2,'004,Afghanistan,7003,March,7271,Temperature change,°c,0.483,E,...,0.647,E,2.610,E,3.547,E,3.832,E,0.731,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,'198,OECD,7018,Jun–Jul–Aug,6078,Standard Deviation,°c,0.274,E,...,0.274,E,0.274,E,0.274,E,0.274,E,0.274,E
9652,5873,'198,OECD,7019,Sep–Oct–Nov,7271,Temperature change,°c,-0.043,E,...,1.284,E,1.766,E,1.287,E,2.263,E,2.532,E
9653,5873,'198,OECD,7019,Sep–Oct–Nov,6078,Standard Deviation,°c,0.424,E,...,0.424,E,0.424,E,0.424,E,0.424,E,0.424,E
9654,5873,'198,OECD,7020,Meteorological year,7271,Temperature change,°c,0.150,E,...,1.394,E,1.592,E,1.235,E,1.710,E,2.409,E
9655,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,°c,0.307,E,...,0.307,E,0.307,E,0.307,E,0.307,E,0.307,E

In [ ]:
df_4 = pd.read_csv('/content/drive/MyDrive/DataSchool Project/Climate Change & Farming Data/CropAllocationFoodFeedFuel_Geotiff/Production_Crops_Livestock_E_Americas.csv')

In [ ]:
df_4

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2020N,Y2021,Y2021F,Y2021N,Y2022,Y2022F,Y2022N,Y2023,Y2023F,Y2023N
0,8,'028,Antigua and Barbuda,1107,'02132,Asses,5111,Stocks,An,2300.0,...,NaN,1731.00,I,NaN,1734.00,I,NaN,1738.00,I,NaN
1,8,'028,Antigua and Barbuda,486,'01312,Bananas,5312,Area harvested,ha,0.0,...,NaN,9.00,I,NaN,5.00,A,NaN,2.00,A,NaN
2,8,'028,Antigua and Barbuda,486,'01312,Bananas,5412,Yield,kg/ha,NaN,...,NaN,1074.30,E,NaN,1459.80,A,NaN,1973.10,A,NaN
3,8,'028,Antigua and Barbuda,486,'01312,Bananas,5510,Production,t,0.0,...,NaN,10.09,I,NaN,7.04,A,NaN,4.83,A,NaN
4,8,'028,Antigua and Barbuda,51,'24310.01,"Beer of barley, malted",5510,Production,t,0.0,...,Unofficial figure,2000.00,X,Unofficial figure,2000.00,X,Unofficial figure,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,236,'862,Venezuela (Bolivarian Republic of),1723,'F1723,Sugar Crops Primary,5412,Yield,kg/ha,62462.0,...,NaN,52669.40,E,NaN,49777.40,E,NaN,47790.80,E,NaN
11119,236,'862,Venezuela (Bolivarian Republic of),1723,'F1723,Sugar Crops Primary,5510,Production,t,2519028.0,...,NaN,2722879.03,E,NaN,2158237.74,E,NaN,1620403.95,E,NaN
11120,236,'862,Venezuela (Bolivarian Republic of),1735,'F1735,Vegetables Primary,5312,Area harvested,ha,10176.0,...,NaN,64268.00,E,NaN,66518.00,E,NaN,67092.00,E,NaN
11121,236,'862,Venezuela (Bolivarian Republic of),1735,'F1735,Vegetables Primary,5412,Yield,kg/ha,13492.8,...,NaN,19873.10,E,NaN,19155.70,E,NaN,18811.80,E,NaN
11122,236,'862,Venezuela (Bolivarian Republic of),1735,'F1735,Vegetables Primary,5510,Production,t,137303.0,...,NaN,1277195.67,E,NaN,1274186.92,E,NaN,1262125.21,E,NaN